/* General body styles */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Container for the main content */
.container {
  width: 80%;
  margin: 0 auto;
}

/* Header and footer styling */
header, footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
}

/* Search form styling */
#searchForm {
  margin: 20px 0;
}

#searchForm label, #searchForm input, #searchForm button {
  margin: 5px;
}

/* Styling for hotel search result cards */
.search-card {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.search-header h3 {
  margin: 0 0 10px 0;
}

.search-body p {
  margin: 5px 0;
}

/* Container for the transparent text buttons */
.button-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

/* Styles for the transparent text buttons */
.transparent-text-button {
  background: none;
  border: none;
  color: #000; /* Text color for buttons */
  padding: 0; /* No padding to mimic the look of plain text */
  margin: 0 10px; /* Spacing between text buttons */
  font-size: 16px; /* Text size for buttons */
  cursor: pointer;
  transition: color 0.2s ease;
}

.transparent-text-button:hover {
  color: #555; /* Color change on hover for interaction feedback */
}

.transparent-text-button:focus {
  outline: none; /* Remove outline on focus */
}

/* Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

/* Modal Content Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px; /* Maximum width */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Additional styles for form inside the modal */
#employeeIdForm {
  text-align: center;
}

#employeeIdForm label, 
#employeeIdForm input[type=text], 
#employeeIdForm button {
  margin-top: 10px;
}

/* Input field styling */
#employeeIdForm input[type=text] {
  padding: 8px;
  width: 95%; /* Slightly less than 100% to fit within padding */
  margin-top: 5px;
}

/* Submit button styling */
#employeeIdForm button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

#employeeIdForm button:hover {
  background-color: #0089ba; /* Dark blue */
}
