body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header, footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
}

#searchForm {
  margin: 20px 0;
}

#searchForm label, #searchForm input, #searchForm button {
  margin: 5px;
}

/* Hotel card CSS */
.search-card {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.search-header h3 {
  margin: 0 0 10px 0;
}

.search-body p {
  margin: 5px 0;
}

/* Styles for Employees Only button */
.button-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.new-page-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.new-page-button:hover {
    background-color: #45a049;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px; /* Optional: Rounded corners */
}

/* The Close Button */
.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
